[Unit]
Description=quicksov privileged platform_profile helper

[Service]
Type=simple
ExecStart=/usr/bin/qsosysd
User=root
Group=root
NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
ReadWritePaths=/sys/firmware/acpi/platform_profile
RestrictAddressFamilies=AF_UNIX

[Install]
WantedBy=multi-user.target
